<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styling.css">
  <title>Blogposts</title>
</head>
<html>
  <body>
    <div>
      <form method="post" action="/">
        <label>Name:<input required="true" type="text" name="name"></label>
        <label>Header:</label>
        <textarea required="true" name="header"></textarea>
        <label>Content:</label>
          What do you want to say? What must the world know?
        <textarea required="true" name="postBody"></textarea>
        <button type="submit">Post!</button>
      </form>
    </div>
    <div id="posts">
      <!-- The posts are made dynamically, check the post.ejs -->
      <%- include("partials/post.ejs"); %>
      <!-- I had to move it out of this file as it was too confusing (aka code readability yw) -->
    </div>
  </body>
</html>