<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styling.css">
  <title>Blogposts</title>
</head>
<html>
  <body>
    <form>
      <textarea></textarea>
      <textarea></textarea>
      <button type="submit">Post!</button>
    </form>
    <div id="posts">

    </div>
  </body>
</html>